/target
/Cargo.lock
/public
*.swp
*.swo
*~
.DS_Store
my-blog/public/
dist
node_modules
package-lock.json 
my-blog/static/assets/comment-atproto-*
bin/ailog
docs
my-blog/static/index.html
my-blog/templates/oauth-assets.html
cloudflared-config.yml
.config
